<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New mwssage from <%= @fromUser.inspect %></h3>
    <p>
      your username is: <%= @admins_message.message.inspect %>
    </p>
  </body>
</html>